
<div class="container"
fxLayout="column"
fxLayoutGap="10px">
<div fxFlex *ngIf="dish">
<mat-card>
 <mat-card-header>
   <mat-card-title>
     <h3 matLine>{{dish.name | uppercase}}</h3>
   </mat-card-title>
 </mat-card-header>
 <img mat-card-image src={{dish.image}} alt={{dish.name}} height="100px" width="100px">
 <mat-card-content>
   <p matLine>{{dish.description}}
   </p>
 </mat-card-content>
 <mat-card-actions>
   <button mat-button (click)="goBack()">Back</button>
   <button mat-button>LIKE</button>
   <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>

<div fxFlex="40">
  <mat-list *ngIf="dish">
    <h3>Comments</h3>
    <mat-list-item *ngFor="let comment of dish.comments">
      <h4 matLine>{{comment.comment}}</h4>
      <p matLine>{{comment.rating}}</p>
      <p matLine> 
      <span> -- {{comment.author}}  {{comment.date | date}}
        </span>
        </p>
    </mat-list-item>
  </mat-list>
</div>
</div>
